[Unit]
Description=Buderus Logamatic Daemon
After=syslog.target

[Service]
Type=simple
User=buderus
Group=buderus
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/buderus.py
SyslogIdentifier=buderus
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
